extends ../layout

body
  block body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a(class="navbar-brand", href="/").
            Address Book
    .container
      .col-md-6.col-md-offset-3
        h2 Login
        form(role="form", action="/auth/local", method="post")
          .form-group
            label Username
            input(type="text", name="identifier", placeholder="Username").form-control
          .form-group
            label Password
            input(type="password", name="password", placeholder="Password").form-control
          .form-group
            button(type="submit", class="btn btn-primary center-block").
              Login
        p.text-center Don't have an account? Register #[a(href="/register") here]