extends ../layout

body
	block body
		nav.navbar.navbar-inverse
			.container-fluid
				.navbar-header
					a(class="navbar-brand", href="/").
						Address Book
		.container
			.col-md-6.col-md-offset-3
				h2 Register
				if errors
					for error in errors
						label.error.center-block=__(error)
				form(role="form", action="/auth/local/register", method="post")#register-form
					.form-group
						label Username
						input(type="text", name="username", placeholder="Username").form-control
					.form-group
						label Email
						input(type="text", name="email", placeholder="Email").form-control
					.form-group
						label Password
						input(type="password", name="password", placeholder="Password").form-control
					.form-group
						button(type="submit", class="btn btn-primary center-block").
							Sign Up
		script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js")
		script.
			//form validation rules
			$("#register-form").validate({
				rules: {
					username: "required",
					email: {
						required: true,
						email: true
					},
					password: {
						required: true,
						minlength: 6
					}
				},
				messages: {
					username: "Please enter your firstname",
					email: "Please enter a valid email address",
					password: {
						required: "Please provide a password",
						minlength: "Your password must be at least 6 characters long"
					}
				},
				submitHandler: function(form) {
				form.submit();
				}
			});