extends layout

body
  block body
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a(class="navbar-brand", href="/").
              Address Book
      .jumbotron
        h1 404 Error
        p We can't find the page you were looking for