extends layout

body
  block body
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a(class="navbar-brand", href="/").
              Address Book
      .jumbotron
        h1 500 Error
        p Something went wrong